.wrapper-2 {
  z-index: 1000;
  position: relative;
  top: 40px;
  right: 5vw;
  margin: 0;
  padding: 0;
}

.cell-2 {
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  
  /* #holder-2 {
    width: 100%;
    height: 383px;
    margin: auto;
  } */
  
  .cntSeparator { display: none; }