@font-face {
    font-family: 'lemon';
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/gotham/GothamRounded-Book.otf);
}

/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'gotham', sans-serif;
    background-color: #111111;
}

span {
    color: darkcyan;
}

/* cabeçalho */

/* texto */

.slogan {
    font-family: 'gotham';
    font-size: 18px;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 17vh;
    left: 2rem;
}

/* imagens  */

#logo {
    width: 290px;
    position: relative;
    bottom: 0.5vh;
    bottom: 8vh;
}

#formata {
    width: 950px;
    position: absolute;
    top: 2.5vh;
    right: 5rem
}

/* Formatação das imagens social */

.social {
    width: 150px;
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 3vh;
    left: 4rem;
}

.social a {
    margin: 0;
}

.social-icon {
    width: 33px;
}

/* cronometro */

.days {
    display: inline;
    position: relative;
    top: 8rem;
    right: 30px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.horas {
    display: inline;
    position: relative;
    top: 8rem;
    left: 20px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.min {
    display: inline;
    position: relative;
    top: 8rem;
    left: 60px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.seg {
    display: inline;
    position: relative;
    top: 8rem;
    left: 75px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.countdown {
    display: flex;
    position: relative;
    color: #fff;
    margin-right: 1380px;
    margin-top: 110px;
    padding: 100px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

/* main */

/* video */
iframe {
    width: 65%;
    height: 60vh;
}

h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'lemon';
    padding: 15px;
    margin-bottom: 20px;
}

.comprar {
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    width: 22vw;
    padding: 10px;
    font-family: 'lemon';
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
}

/* podcast */

.podcast-1 {
    list-style: none;
    display: block;
    color: #ffffff;
}

.spot {
    display: block;
    width: 15%;
    height: 75%;
    margin-right: 0.9rem;
}

.podcast {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.podcast h6 {
    font-size: 0.8rem;
    font-family: 'gotham';
}

.podcast a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.container-balao {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 100px;
    background: rgb(186, 175, 188);
    background: linear-gradient(90deg, rgba(186, 175, 188, 1) 0%, rgba(26, 121, 168, 1) 50%, rgba(26, 76, 102, 1) 100%);
    border-radius: 70px;
    max-height: 300px;
    width: 75%;
    margin: auto;
}

.divisa {
    border-right: solid 2px black;
    max-height: 130px;
}

.title {
    margin: 10px;
    width: 40%;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'lemon';
    position: relative;
    bottom: 30px;
    left: 1px;
    border-right: solid 3px black;
    height: 130px;

}

.descricao {
    width: 50%;
    font-size: 1rem;
    font-family: 'gotham';
    text-align: justify;
    height: 100%;
    position: relative;
    left: 20px;
    top: 20px;
}

/* valores */

.ml {
    margin-left: 10vw;
}

.curso_title {
    text-align:start;
    color: #fff;
    font-family: 'lemon';
    font-size: 22px;

}

.curso_texto {
    width: 45%;
    text-align: start;
    font-family: 'gotham';
    font-size: 1rem;
}

.comprar_curso {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    width: 22vw;
    padding: 10px;
    font-family: 'lemon';
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
}


/* form */

/* rodapé */

footer img {
    max-width: 250px;
}

footer figure.col-6 {
    margin: 0;
}

.text-light a {
    text-decoration: none;
    color: #fff;
}
.info_roda{
  position: relative;
  left: 700px;
  font-size: 16px;
}
.info-cont{
    color: darkcyan;
    font-size: 17px;
}

@media screen and (max-width: 576px) {
    .logo_roda {
        width: 150px;
    }

    .info_roda {
        font-size: 0.8rem;
    }

    .valor-normal {
        width: 500px;
        margin: 0;
    }

    .valores {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .comprar {
        width: 55%;
    }

    .comprar_curso {
        width: 55%;
        margin-bottom: 30px;
        position: relative;
        left: 10px;
        bottom: 2vh;
    }

    .curso_texto {
        font-size: 0.8rem;
        font-weight: bolder;
        text-align: center;
    }

    .container-balao {
        width: 95vw;
        height: auto;
        margin: auto;
        padding: 20px;
    }

    .descricao {
        width: 70%;
        font-size: 8px;
        font-family: 'lemon';
        margin: auto;
        text-align: left;
        padding-left: 20px;
        position: relative;
        left: 0;
        top: 0;

    }

    .title {
        font-size: 12px;
        position: relative;
        bottom: 3vh;
        left: 0;
        top: 0px;
        border-right:none;
    }

    .divisa {
        position: relative;
        bottom: 3vh;
        min-height: 80px;
    }

    iframe {
        width: 90vw;
        height: 30vh;

    }

    .days {
        position: relative;
        left: 160px;
        top: 120px;
    }

    .horas {
        position: relative;
        left: 98px;
        top: 200px;
    }

    .min {
        position: relative;
        left: 130px;
        top: 260px;
    }

    .seg {
        position: relative;
        left: 140px;
        top: 325px;
    }
    .descoberta{
      position: relative;
      bottom: 30px;
      width: 100%;
    }
    .spot{
        width: 30px;
        padding-left: 10px;
        margin-top: 2px;
    }
.curso_title{
    text-align: center;
}
    .curso_texto{
        width: 80%;
        text-align: center;
        margin-left: 40px;
    }
    .comprar_curso{
        display: flex;
        justify-content: center;
        margin-left: 80px;
    }
    .info_roda{
        position: relative;
        left: 0;
        font-size: 10px;
    }
    .info-cont{
        font-size: 10px;
    }

}