@font-face {
    font-family: 'lemon';
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/gotham/GothamRounded-Book.otf);
}

/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'gotham', sans-serif;
/*     background-image: url(../img/fundo3.png);  */
background: linear-gradient(109.6deg, rgb(8, 1, 16) 13.4%, rgb(22, 1, 58) 100.2%);
 
}

span {
    color: #e81f7b;
}

/* cabeçalho */

/* texto */

.slogan {
    font-family: 'gotham';
    font-size: 20px;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 17vh;
    left: 2rem;
}

/* imagens  */

#logo {
    width: 290px;
    position: relative;
    bottom: 0.5vh;
    bottom: 8vh;
}

#formata {
    width: 380px;
    position: absolute;
    top: 5vh;
    right: 15rem
}

/* Formatação das imagens social */

.social {
    width: 150px;
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 3vh;
    left: 4rem;
}

.social a {
    margin: 0;
}

.social-icon {
    width: 33px;
}

/* cronometro */

.days {
    display: inline;
    position: relative;
    top: 8rem;
    left: -35px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.horas {
    display: inline;
    position: relative;
    top: 8rem;
    left: 30px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.min {
    display: inline;
    position: relative;
    top: 8rem;
    left: 60px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.seg {
    display: inline;
    position: relative;
    top: 8rem;
    left: 75px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.countdown {
    display: flex;
    position: relative;
    color: #fff;
    margin-right: 1380px;
    margin-top: 110px;
    padding: 100px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

/* main */

/* video */
iframe {
    width: 65%;
    height: 60vh;
}

h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'lemon';
    padding: 15px;
    margin-bottom: 20px;
}

.comprar {
    background: rgb(186, 175, 188);
    background: linear-gradient(90deg, rgb(102, 3, 43) 0%, rgba(232, 31, 123, 1) 35%, rgba(102, 3, 43) 100%);
    width: 22vw;
    padding: 10px;
    font-family: 'lemon';
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
}

/* podcast */

.podcast-1 {
    list-style: none;
    display: block;
    color: #ffffff;
    width: 15%;
    position: relative;
    top: 10px;
}

.spot {
    display: block;
    width: 15%;
    height: 75%;
    margin-right: 0.9rem;
    text-align: center;
    
}

.podcast {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 10px;
}

.podcast h6 {
    font-size: 0.8rem;
    font-family: 'gotham';
}

.podcast a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.container-balao {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 100px;
    background: rgb(186, 175, 188);
    background: linear-gradient(90deg, rgb(102, 3, 43) 0%, rgba(232, 31, 123, 1) 35%, rgba(102, 3, 43) 100%);
    border-radius: 50px;
    max-height: 350px;
    width: 70%;
    margin: auto;
}

.valor-normal {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50vw;
    margin-left: 180px;
    margin-top: 400px;
}

.divisa {
    border-right: solid 2px black;
    max-height: 130px;
}

.title {
    margin: 10px;
    width: 40%;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'lemon';
    position: relative;
    bottom: 30px;
    left: 1px;
    border-right: solid 3px black;
    height: 130px;

}

.descricao {
    width: 50%;
    font-size: 1rem;
    font-family: 'gotham';
    text-align: justify;
    height: 100%;
    position: relative;
    left: 20px;
    top: 20px;
}

/* valores */

/* .ml {
    margin-left: 10vw;
} */

.curso_title {
    text-align: start;
    color: #fff;
    font-family: 'lemon';
    font-size: 22px;

}

.curso_texto {
    width: 45%;
    text-align: start;
    font-family: 'gotham';
    font-size: 1rem;
}

.comprar_curso {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    position: relative;
    bottom: 50px;
    background: rgb(186, 175, 188);
    background: linear-gradient(90deg, rgb(102, 3, 43) 0%, rgba(232, 31, 123, 1) 35%, rgba(102, 3, 43) 100%);
    width: 22vw;
    padding: 10px;
    font-family: 'lemon';
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
}


/* form */

.ebook {
    height: 90vh;
}

h4 {
    color: #fff;
    font-size: 1.5rem;
}

.vitor {
    width: 20vw;
    height: 40vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -415px;
    left: 50vw;
    width: 30vw;
    margin: 0;
    padding: 0;
}

.campo input {
    letter-spacing: 2px;
    width: 100%;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.437) 10px 10px 5px;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #111111;
}

.campo label {
    color: #ffffff;
    font-weight: bolder;
    display: block;
    font-size: 17px;
}

#enviar {
    display: flex;
    justify-content: center;
    background: rgb(186, 175, 188);
    background: linear-gradient(90deg, rgb(102, 3, 43) 0%, rgba(232, 31, 123, 1) 35%, rgba(102, 3, 43) 100%);
    width: 15vw;
    padding: 10px;
    font-family: 'lemon';
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
}

/* rodapé */

footer {
    margin: 0;
    padding: 0;
}

footer img {
    position: relative;

    max-width: 250px;
}

footer figure.col-6 {
    margin: 0;
}

.text-light a {
    text-decoration: none;
    color: #fff;
}

.info_roda {
    position: relative;
    left: 50vw;
    top: 50px;
    font-size: 16px;
}

.info-cont {
    color: 3;
    font-size: 17px;
    color: rgba(232, 31, 123, 1);
}
.teste-display{
    display: none;
    color: #fff;
    position: relative;
    left: 100px;
}
.wpp{
    width: 5vw;
    position: fixed;
    left: 1410px;
    top: 550px;
    padding: 25px 0;
}
.breve{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 576px) {
   
    .logo_roda {
        width: 150px;
    }

    .info_roda {
        font-size: 0.8rem;
    }

    .valor-normal {
        width: 500px;
        margin: 0;
    }

    .valores {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .comprar {
        width: 55%;
    }

    .comprar_curso {
        width: 55%;
        margin-bottom: 30px;
        position: relative;
        left: 10px;
        bottom: 2vh;
    }

    .curso_texto {
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
    }

    .container-balao {
        min-width: 90vw;
        min-height: 25vh;
        padding: 5px;
    }

    .descricao {
        width: 52%;
        font-size: 8px;
        font-family: 'lemon';
        margin: auto;
        text-align: left;
        padding-left: 5px;
        position: relative;
        left: 0;
        top: 10px;

    }

    .title {
        text-align: center;
        font-size: 12px;
        position: relative;
        bottom: 1vh;
        left: 10px;
        top: 5px;
        border-right: none;
    }

    .divisa {
        position: relative;
        bottom: 3vh;
        min-height: 80px;
    }

    iframe {
        width: 85vw;
        height: 30vh;
        position: relative;
        left: 10px;
    }

    .days {
        position: relative;
        left: 160px;
        top: 120px;
    }

    .horas {
        position: relative;
        left: 98px;
        top: 200px;
    }

    .min {
        position: relative;
        left: 130px;
        top: 260px;
    }

    .seg {
        position: relative;
        left: 140px;
        top: 325px;
    }
    .cell{
        width: 100%;
        position: relative;
        bottom: 50px;
    
    }
    .social-icon{
        position: relative;
        bottom: 80px;
        right: 30px;
    }
    .descoberta {
        position: relative;
        bottom: 30px;
        width: 100%;
    }

    .spot {
        width: 30px;
        padding-left: 10px;
        margin-top: 2px;
    }

    .curso_title {
        text-align: center;
        position: relative;
        left: 10px;
    }

    .curso_texto {
        width: 80%;
        text-align: center;
        margin-left: 40px;
    }

    .comprar_curso {
        display: flex;
        justify-content: center;
        margin-left: 90px;
        
    }

    .info_roda {
        position: relative;
        left: 0;
        font-size: 10px;
    }

    .info-cont {
        font-size: 10px;
    }

    .valor-normal {
        display: flex;
        align-items: center;
        position: relative;
        width: 65%;
        top: 0;
        left: 80px;
       
    }

    #formata {
        width: 12rem;
        height: 35vh;
        position: absolute;
        right: 0px;
        left: 200px;
        top: 15vh;
     
    }

    #logo {
        width: 55vw;
    }

    .slogan {
        width: 40vw;
        text-align: start;
        margin-top: 50px;
    }
   .ebook{
    height: 110vh;

   }
   form{
    position: relative;
    top: 50px;
    left: 0;
    margin-left: 130px;
   }
   #enviar{
    width: 40vw;
   }
   .vitor{
    width: 80%;
    margin-left: 40px;
   }
   h4{
    text-align: center;
   }
   .wrapper-2{
    display: none;
   }
   .teste-display{
    display: inline-flex;
    gap: 8px;
    font-size: 40px;
   }
   h2{
    font-size: 40px;
    position: relative;
    right: 50px;
    top: 10px;
   }
   .ponto{
    position: relative;
    right: 50px;
   }
  
}
@media screen and (min-width: 1300px) {
  
    .wrapper {
        width: 80vw;
    }

    .container-balao {
        min-height: 30vh;
        width: 80%;
    }

    .valor-normal {
        margin-bottom: 2vh;
        position: absolute;
        top: 1740px;
        width: 24%;
    }
    iframe{
        width: 60vw;
        height: 70vh;
    }

    h3{
        font-size: 40px;
    }

    .ml {
        margin-left: 0px;
    }

    .wrapper-2 {
        width: 80vw;
        margin-left: 2vw;
    }
     #formata{
        position: relative;
        left: 120px;
     }
     .comprar{
       font-size: 40px;
        text-align: center;
     }
     .comprar_curso{
        font-size: 40px;
     }
     .vitor{
        width: 30vw;
        height: 60vh;
        position: relative;
        top: 55px;
     }
     h4{
        position: relative;
        left: 20px;
        top: 80px;
        font-size: 30px;
     }
     form{
        position: relative;
        margin-top: 80px;
     }
     .wpp{
        position: fixed;
        left: 86rem;
        right: 0;
       }
     
    
}
@media screen and (max-width: 1800px) {
   .valor-normal{
    margin-top: 280px;
   }
   
}